<!-- SECOND BANNER  -->
<div>
    <div class="o-col-lg-6 o-col-md-12 o-row t-banner-wedding-bands-block">
        <div class="t-banner-wedding-bands">
            <p>Wedding Bands</p>
            <span>&</span>
            <p>Anniversary rings</p>
        </div>
        <div class="t-banner-bottom-btns">
            <a href="/wedding-rings" class="t-banner-button t-banner-button-opacity">wedding bands & anniversary rings</a>
        </div>
    </div>
    <div class="o-col-lg-6 o-col-md-12 o-row">
        <div class="o-col-lg-6 o-col-md-12 o-row t-banner-wedding-band t-banner-wedding-women">

            <div class="t-banner-bottom-btns">
                <a href="/wedding-rings/weddingwomen_classic" class="t-banner-button t-banner-button-opacity">Women's Wedding Bands</a>
            </div>
        </div>
        <div class="o-col-lg-6 o-col-md-12 o-row t-banner-wedding-band t-banner-wedding-men">

            <div class="t-banner-bottom-btns">
                <a href="/wedding-rings/weddingmen_classic" class="t-banner-button t-banner-button-opacity">Men's Wedding Rings</a>
            </div>
        </div>
    </div>
    <div class="u-clear"></div>
</div>
<div class="u-clear-20"></div>
<!-- /SECOND BANNER  -->