<!-- FOURTH BANNER -->
<div class="o-col-lg-12 u-bg-lightest-gray">
    <div class="u-clear-20"></div>
    <div class="o-col-lg-6 o-col-md-12">
        <div class="t-banner-recently-purchased">
            <a href="/gemstones" class="c-btn-bordered"><span>recently purchased</span></a>
        </div>
    </div>
    <div class="o-col-lg-6 o-col-md-12">
        <div class="t-banner-pre-set-rings">
            <a href="/gemstones" class="c-btn-bordered c-btn-border-dark"><span>pre-set rings</span></a>
        </div>
    </div>
    <div class="u-clear-20"></div>
</div>
<div class="u-clear"></div>
<!-- /FOURTH BANNER -->
