<!-- BOTTOM BUNNER -->
<div class="t-video-link-bunner u-tc">
    <a href="#" class="t-play-video-link"></a>
    <h6 class="u-color-white u-f36">Explore the craft</h6>
    <p class="u-color-white u-f22">Make an appointment for a one-on-one consultation with one of our expert gemologists.</p>
    <a href="#" class="t-dark-banner-button">Palm Beach</a>
    <a href="#" class="t-dark-banner-button">New York</a>
</div>
<!-- /BOTTOM BUNNER -->