<!-- THIRD BANNER  -->
<div>
    <div class="o-col-lg-6 o-col-md-12 o-row">
        <div class="o-col-lg-6 o-col-md-6  o-col-sm-6 o-row t-banner-wedding-band t-banner-wedding-band-height t-banner-earrings">
            <div class="t-banner-bottom-btns">
                <a href="/jewelry/earrings" class="t-banner-button t-banner-button-opacity">Design your own earrings</a>
            </div>
        </div>
        <div class="o-col-lg-6 o-col-md-6  o-col-sm-6 o-row t-banner-wedding-band t-banner-wedding-band-height t-banner-jpendant">

            <div class="t-banner-bottom-btns">
                <a href="/jewelry/pendants" class="t-banner-button t-banner-button-opacity">design your own pendant</a>
            </div>
        </div>
    </div>
    <div class="o-col-lg-6 o-col-md-12 o-row t-banner-wedding-band t-banner-wedding-band-height t-banner-fine-jewelry">
        <p class="t-banner-text-engagement-rings t-banner-text-engagement-rings-middle">Fine Jewelry</p>
        <div class="t-banner-bottom-btns">
            <a href="/jewelry" class="t-banner-button t-banner-button-opacity">explore jewelry</a>
        </div>
    </div>
    <div class="u-clear"></div>
</div>
<div class="u-clear-20"></div>
<!-- /THIRD BANNER  -->