<!-- FIRST BANNER  -->
<div class="t-banner-engagement-rings">
    <div class="o-col-lg-6 o-col-md-12">
        <p class="t-banner-text-engagement-rings">Engagement Rings</p>
        <div class="t-banner-button-engagement-rings">
            <a href="{{ path_for('engagementRings') }}" class="t-banner-button">Shop engagement rings</a>
        </div>
    </div>
    <div class="o-col-lg-6 o-col-md-12 u-tc t-diamond-banner-data">
        <h5 class="t-banner-header">Design your own ring</h5>
        <div>
            <a href="{{ path_for('looseDiamonds') }}" class="t-banner-button t-banner-button-opacity">start with a diamond</a>
            <a href="{{ path_for('engagementRings') }}" class="t-banner-button t-banner-button-opacity">start with a setting</a>
        </div>
    </div>
    <div class="u-clear"></div>
</div>
<div class="u-clear"></div>
<!-- /FIRST BANNER  -->