<!-- BOTTOM SLIDER -->
<div id="propositions" class="o-col-lg-12 o-row t-propositions-carousel">
    <div class="t-propositions-block">
        <h6 class="t-handcrafted-nyc-icon">Handcrafted in NYC</h6>
        <p class="u-f18 u-color-gray">Every DreamStone ring is handmade in our factory in NYC by expert jewelers.</p>
    </div>
    <div class="t-propositions-block">
        <h6 class="t-beyond-conflict-icon">Beyond Conflict Free</h6>
        <p class="u-f18 u-color-gray">DreamStone diamonds are conflict free, ethically sourced and 100% natural.</p>
    </div>
    <div class="t-propositions-block">
        <h6 class="t-lifetime-upgrade-icon">Lifetime Upgrade</h6>
        <p class="u-f18 u-color-gray">At DreamStone you can upgrade your diamond for life. </p>
    </div>
    <div class="t-propositions-block">
        <h6 class="t-handcrafted-nyc-icon">Handcrafted in NYC</h6>
        <p class="u-f18 u-color-gray">Every DreamStone ring is handmade in our factory in NYC by expert jewelers.</p>
    </div>
</div>
<div class="u-clear"></div>
<!-- /BOTTOM SLIDER -->