<!-- GEMSTONES -->
<div class="t-gemstones-block">
    <div class="content">
        <div class="o-col-lg-4 o-col-md-12">
            <div class="t-gemstones-start-block u-fl">
                <a href="#" class="t-gemstones-start-gemstone"></a>
                <span>start with a gemstone</span>
            </div>
        </div>
        <div class="o-col-lg-4 o-col-md-12 u-tc">
            <p class="t-gemstone-text">Gemstones</p>
        </div>
        <div class="o-col-lg-4 o-col-md-12">
            <div class="t-gemstones-start-block u-fr">
                <a href="#" class="t-gemstones-start-setting"></a>
                <span>start with a setting</span>
            </div>
        </div>
        <div class="u-clear"></div>
    </div>
</div>
<!-- /GEMSTONES -->