<!--  TOP TRENDING -->
<div class="o-col-lg-12 o-row t-top-trending">
    <h6 class="u-color-dark-gray u-f28">Top Trending</h6>
    <div id="top-trending" class="owl-carousel">
        <div><a href="/engagement-rings"><img src="images/tops/ring-1.jpg" alt="engagement-rings"></a></div>
        <div><a href="/wedding-rings"><img src="images/tops/ring-2.jpg" alt="wedding-rings"></a></div>
        <div><a href="/jewelry/rings"><img src="images/tops/ring-3.jpg" alt="rings"></a></div>
        <div><a href="/jewelry/earrings"><img src="images/tops/ring-4.jpg" alt="earrings"></a></div>
        <div><a href="/jewelry/pendants"><img src="images/tops/ring-5.jpg" alt="pendants"></a></div>
        <div><a href="/wedding-rings"><img src="images/tops/ring-1.jpg" alt="wedding-rings"></a></div>
    </div>
</div>
<div class="u-clear"></div>
<!--  /TOP TRENDING -->