<ul class="t-table-list">
    <li><img src="images/diamond-table.png" alt="diamond-table"></li>
    <li>
        <span>Classic Four-Prong Engagement Ring in White Gold (2mm)</span>
        <div class="u-clear-20"></div>
        <span>0.29 Carat Round Good</span>
    </li>
    <li>
        <span>14K White Gold, 4.5 Size</span>
        <div class="u-clear-20"></div>
        <span>H Color, SI1 Clarity, Fair Cut</span>
    </li>
    <li>
        <span>SKU: 4615829 </span>
        <div class="u-clear-20"></div>
        <span>SKU: 4615829 </span>
    </li>
    <li>
        <b class="u-color-blue">$400.00</b>
        <div class="u-clear-20"></div>
        <b class="u-color-blue">$94.00</b>
    </li>
    <li><span><a href="javascipt: void(0);" class="t-table-view-icon t-table-ring-icon"></a></span></li>
    <li><span><a href="javascipt: void(0);" class="t-table-view-icon t-table-delete-icon"></a></span></li>
</ul>