<div id="coupon_modal" class="modal">
    <div class="popup popup_sm">
        <a href="#" class="close_popup_btn close_coupon_modal" id="close_coupon_modal"></a>
        <p>Promo Code (Coupon) is applied!</p>
        <a href="#" class="btn btn_light close_coupon_modal" id="ok_coupon_modal">OK</a>
  </div>
</div>
