<div class="u-clear"></div>
<div class="o-col-lg-12" style="padding: 50px 0;">
    <form method="post" enctype="multipart/form-data" id="custom-form" class="o-col-lg-8 o-col-md-12" novalidate>
        <div class="contact-block">
            <h3>Contact Information</h3>
            <div class="flexx">
                <div class="o-col-lg-4">
                    <h5>Full name <span class="red">*</span></h5>
                </div>
                <div class="o-col-lg-4">
                    <input type="text" name="user_name" id="personal-name" required>
                    <label for="personal-name">
                        First Name
                    </label>
                </div>
                <div class="o-col-lg-4">
                    <input type="text" name="user_surname" id="personal-surname" required>
                    <label for="personal-surname">
                        Last Name
                    </label>
                </div>
            </div>
            <div class="flexx">
                <div class="o-col-lg-4">
                    <h5>Email <span class="red">*</span></h5>
                </div>
                <div class="o-col-lg-8">
                    <input type="email" name="user_email" id="personal-email" placeholder="myname@example.com" required>
                </div>
            </div>
            <div class="flexx">
                <div class="o-col-lg-4">
                    <h5>Phone <span class="red">*</span></h5>
                </div>
                <div class="o-col-lg-3">
                    <input class="area-code" type="tel" name="phone_code" id="personal-code" required>
                    <label for="personal-code">
                        Area Code
                    </label>
                </div>
                <div class="o-col-lg-5">
                    <input type="tel" name="phone_number" id="personal-phone" required>
                    <label  for="personal-phone">
                        Phone Number
                    </label>
                </div>
            </div>
            <h3>Ring Information</h3>
            <div class="flexx">
                <div class="o-col-lg-4">
                    <h5>Preferred Metal <span class="red">*</span></h5>
                </div>
                <div class="o-col-lg-8">
                    <select name="" id="ring-info" required>
                        <option value=""></option>
                        <option value="950 Platinum">950 Platinum</option>
                        <option value="Palladium">Palladium</option>
                        <option value="Rose Gold">Rose Gold</option>
                        <option value="14K or 18K White Gold">14K or 18K White Gold</option>
                        <option value="14K or 18K Yellow Gold">14K or 18K Yellow Gold</option>
                        <option value="18K White Gold">18K White Gold</option>
                        <option value="18K Yellow Gold">18K Yellow Gold</option>
                        <option value="14K White Gold">14K White Gold</option>
                        <option value="14K Yellow Gold">14K Yellow Gold</option>
                        <option value="Undecided/Not Sure">Undecided/Not Sure</option>
                    </select>
                </div>
                <div class="o-col-lg-4">
                    <h5>Price Range <span class="red">*</span></h5>
                </div>
                <div class="o-col-lg-8">
                    <select name="" id="price-range" required>
                        <option value=""></option>
                        <option value="$100 - $999">$100 - $999</option>
                        <option value="$1,000 - $2,000">$1,000 - $2,000</option>
                        <option value="$2,000 - $3,000">$2,000 - $3,000</option>
                        <option value="$3,000 - $4,000">$3,000 - $4,000</option>
                        <option value="$4,000 - $5,000">$4,000 - $5,000</option>
                        <option value="$5,000 - $6,000">$5,000 - $6,000</option>
                        <option value="$6,000 - $7,000">$6,000 - $7,000</option>
                        <option value="$7,000 - $8,000">$7,000 - $8,000</option>
                        <option value="$8,000 - $9,000">$8,000 - $9,000</option>
                        <option value="$9,000 - $10,000">$9,000 - $10,000</option>
                        <option value="$10,000 - $12,000">$10,000 - $12,000</option>
                        <option value="$12,000 - $15,000">$12,000 - $15,000</option>
                        <option value="$15,000 - $20,000">$15,000 - $20,000</option>
                        <option value="$20,000 - $25,000">$20,000 - $25,000</option>
                        <option value="$25,000 - $30,000">$25,000 - $30,000</option>
                        <option value="$30,000 - $40,000">$30,000 - $40,000</option>
                        <option value="$40,000 - $50,000">$40,000 - $50,000</option>
                        <option value="$50,000 - $100,000">$50,000 - $100,000</option>
                        <option value="$100,000 and up">$100,000 and up</option>
                    </select>
                </div>
                <div class="o-col-lg-4">
                    <h5>Center Stone Shape <span class="red">*</span></h5>
                </div>
                <div class="o-col-lg-8">
                    <select name="" id="stone-shape" required>
                        <option value=""></option>
                        <option value="Round">Round</option>
                        <option value="Princess">Princess</option>
                        <option value="Asscher">Asscher</option>
                        <option value="Radiant">Radiant</option>
                        <option value="Cushion">Cushion</option>
                        <option value="Emerald">Emerald</option>
                        <option value="Marquise">Marquise</option>
                        <option value="Oval">Oval</option>
                        <option value="Pear">Pear</option>
                        <option value="Heart">Heart</option>
                        <option value="Undecided/Not Sure">Undecided/Not Sure</option>
                    </select>
                </div>
            </div>
            <h3>Upload Images</h3>
            <div class="flexx">
                <div class="o-col-lg-4">
                    <h5>Image 1 </h5>
                </div>
                <div class="o-col-lg-8">
                    <input type="file" id="img1" name="uploaded_file">
                </div>
                <div class="o-col-lg-4">
                    <h5>Image 2 </h5>
                </div>
                <div class="o-col-lg-8">
                    <input type="file" id="img2">
                </div>
                <div class="o-col-lg-4">
                    <h5>Image 3 </h5>
                </div>
                <div class="o-col-lg-8">
                    <input type="file" id="img3">
                </div>
            </div>
            <h3>Final Notes</h3>
            <div class="flexx">
                <div class="o-col-lg-4">
                    <h5>Additional Instructions </h5>
                </div>
                <div class="o-col-lg-8">
                    <textarea name="" id="" cols="20" rows="4"></textarea>
                </div>
            </div>
            <div class="flexx">
                <div class="o-col-lg-4"></div>
                <div class="o-col-lg-8">
                    <button type="submit" style="width: 100px;" class="">Submit</button>
                </div>
            </div>
            <div class="out" style="color: red;"></div>
        </div>
    </form>
</div>
<div class="u-clear"></div>    

<script>
    $('#custom-form').submit(function(ev){
        ev.preventDefault();
        let hasEmpty = false;
        $('#custom-form').find('input, select').each(function(){
            if ($(this).prop('required')) {
                hasEmpty = hasEmpty || !$(this).val();
            }
        })
        let regexp = /^[\.a-z0-9_\-]+[@][a-z0-9_\-]+([.][a-z0-9_\-]+)+[a-z]{1,4}/i;
        let email = document.getElementById('personal-email').value;
        let result = regexp.test(email);

        
        


        if (hasEmpty) {
            $('.out').html('*required fields are not filled');
            if (!email) {
               $('#personal-email').css('background-color', 'wheat');
            }
            if (!$('#personal-name').val()) {
               $('#personal-name').css('background-color', 'wheat');
            }
            if (!$('#personal-surname').val()) {
               $('#personal-surname').css('background-color', 'wheat');
            }
            if (!$('#personal-code').val()) {
               $('#personal-code').css('background-color', 'wheat');
            }
            if (!$('#personal-phone').val()) {
               $('#personal-phone').css('background-color', 'wheat');
            }
            if (!$('#ring-info').val()) {
               $('#ring-info').css('background-color', 'wheat');
            }
            if (!$('#price-range').val()) {
               $('#price-range').css('background-color', 'wheat');
            }
            if (!$('#stone-shape').val()) {
               $('#stone-shape').css('background-color', 'wheat');
            }
            return false
        }
        else if (!result) {
            $('.out').html('*enter the correct email');
            $('#personal-email').css('background-color', 'wheat');
            return false
        }
        
        else {
            var formData = new FormData();
            formData.append('image', $('input[type=file]')[0].files[0]);
            formData.append('data', {
                user_name: $('#personal-name').val(),
                user_surname: $('#personal-surname').val(),
                user_email: email,
                phone_code: $('#personal-code').val(),
                phone_number: $('#personal-phone').val(),
                ring_info: $('#ring-info').val(),
                price_range: $('#price-range').val(),
                stone_shape: $('#stone-shape').val(),
                text: $('#booking-request').val(),
            })
            $.ajax({
                url: '/loose-diamonds/custom-form',
                data: formData,
                type: "POST",
                // contentType: false,
                // processData: false,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function(msg){  $('#my_message').html(msg) }
            })
        }

        $('#custom-form').find('input, select, textarea').each(function(){
            if ($(this).val()) {
                $(this).css('background-color', 'white');
                $(this).val("");
                console.log($(this).val());
            }
        });
        $('.out').html('');
        return false;
    })

    $('input, select').change(function(){
        $('#custom-form').find('input, select').each(function(){
            if ($(this).val()) {
                $(this).css('background-color', 'white');
            }
        })
    })
</script>
{#
    {% include "pages/frontend/loose_diamonds/details/form_custom.twig" %}
#}