<div>
    <div class="content" style="margin-bottom: 20px;">
        <h2>DIAMOND CUT REVIEW</h2>
        <p>The diamond cut grade refers to the cut quality of the diamond and can be as straight forward or as complicated as you want it to be. In a nutshell it is how a diamond cutter polishes the facets of a diamond.  The aim is to angle the facets in such a way where they act as mirrors channeling the light that comes through the top of the gem and returning it back out the top to your eye. As the diamond refracts the light it splits the rays just like a prism so that you can view the incredible rainbow of colors hidden within visible light. This is what people refer to as a diamond having “life”, “fire”, or “sparkle.” If this sounds like an important attribute, it is in fact the cut grade of a diamond and is just as important (some might argue the most important) factor out of the 4’C’s because it exhibits the “brilliance” of a diamond. The good news is over 1/2 of the diamonds today are cut to “ideal” proportions.  Often times, you don’t even have to pay a premium for them either.</p>
        <p>Here are the cut grades provided by GIA accompanied by images:</p>            
    </div>

    <div class="holder-diamond-box">
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <div class="diamond-img-box">
                    <img class="scale" src="/images/ld_cut/Very-Good-Cut-Round-Diamond.jpg" alt="Very-Good-Cut-Round-Diamond">
                </div>
                <div class="diamond-text-box">
                    <h3>DreamStone Ideal</h3>
                    <p>lorem</p>
                </div>
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <div class="diamond-img-box">
                    <img class="scale" src="/images/ld_cut/Very-Good-Cut-Round-Diamond.jpg" alt="Very-Good-Cut-Round-Diamond">
                </div>
                <div class="diamond-text-box">
                    <h3>Very Good Cut</h3>
                    <p>Excellent / Ideal Cut</p>
                </div>
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <div class="diamond-img-box">
                    <img class="scale" src="/images/ld_cut/Excellent-Cut-Round-Diamond-1.jpg" alt="Very-Good-Cut-Round-Diamond">
                </div>
                <div class="diamond-text-box">
                    <h3>Excellent Cut</h3>
                    <p>Very Good Cut</p>
                </div>
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <div class="diamond-img-box">
                    <img class="scale" src="/images/ld_cut/Good-Cut-Round-Diamond.jpg" alt="Very-Good-Cut-Round-Diamond">
                </div>
                <div class="diamond-text-box">
                    <h3>Good Cut</h3>
                    <p>Good Cut</p>
                </div>
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <div class="diamond-img-box">
                    <img class="scale" src="/images/ld_cut/Fair-Cut-Round-Diamond.jpg" alt="Very-Good-Cut-Round-Diamond">
                </div>
                <div class="diamond-text-box">
                    <h3>Fair Cut</h3>
                    <p>Fair Cut</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content" style="padding: 30px 0;">
        <h2>ROUND DIAMOND CUT GRADE</h2>
        <p>The first thing you should realize is that round diamonds are the only shape that GIA provides a cut grade for and it was added to the grading report only in the last 15 years. All the other shapes, called “fancy” shapes, do not have a dedicated “grade” for cut on the GIA grading report. The reason for this is because the round shape being a perfect (or close to perfect) circumference means that regardless of the diamond’s depth, or table, the round shape will always be, well… precisely round and therefore will adhere to one of the universal proportions for each cut grade. Other shapes like cushions, ovals, princess cut, radiant, emerald, marquise, asscher, etc..  can vary dramatically in ratio and overall make and so you can have two completely different styles within the same fancy shape. With that said, there are well established industry standards for what is considered “poor”, “good”, and “very good” for some of the fancy shapes. We just don’t have any unbiased third party labs to keep things consistent across the board so every retailer may tweak the measurements a little differently to come up with their own cut grade for fancy shapes.</p>
        <h2>Recommended Ranges (for round diamonds)</h2>
        <div class="row">
            <div class="o-col-sm-12 o-col-lg-7">
                <img style="max-width: 100%; max-height: 100%;" src="/images/cut-dmd.jpg" />
            </div>
            <div class="o-col-sm-12 o-col-lg-5">
                <ul>
                    <li>Depth percentage between 63%-59%</li>
                    <li>Table width percentage between 60%-54%</li>
                    <li>Crown angle between 35%-33%</li>
                    <li>Star length of 50%</li>
                    <li>Girdle of 4%-2.5%</li>
                    <li>Girdle thickness of thin to thick, thin to medium, medium to medium, medium, or medium to thick</li>
                </ul>
            </div>
        </div>
        <h2>Idealscope & ASET tools</h2>
        <p>Here is where the whole cut grading business can get a little hairy. Remember that the cut grade is an overall summary of how well a diamond is cut and from a practical standpoint you can stop right there and be happy as can be with your choice of cut grade. For those who want to step further into the abyss, you’ll discover a whole new topic called “light performance.” Laboratories in the diamond industry have developed tools that are supposed to give you indications of a diamond’s brilliance, light return, and leakage as well as contrast and scintillation. Idealscope and ASET (Angular Spectrum Evaluation Tool) are two examples of simple tools that have gained popularity online with websites displaying colorful static snapshots of the actual diamond taken with one of these tools. There is a plethora of information on the internet filled by armies of blog and forum contributors about this topic, but what you’ll end up discovering is that there is no unanimous agreement among any of them. One person may swear by one tool and another may promise the world with another.  Although Idealscope and ASET are different devices, they basically try to accomplish the same goal. Both are lens encased in a bright colored reflector with a viewing hole. This creates a controlled light environment for the observer to see. They may be used as a simple optical symmetry grading tool to view the Hearts and Arrows in a diamond or advanced users can try to gauge the amount of fire a diamond might have. What neither of these tools can do is tell you anything about a diamond’s carat, color, or clarity. More importantly, neither can measure a diamond’s true sparkle and beauty. They are at best one additional layer for those who insist on using some basic scientific gadget to gain insight into these twinkly little objects. Below are images of Excellent, Very Good, Good, and Fair cut graded diamonds taken with an Idealscope:</p>
    </div>

    <div class="holder-diamond-box magnific">
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <a href="/images/ld_cut/Excellent-Cut-Diamond.jpg" class="magnific-popup">
                    <div class="diamond-img-box">
                        
                            <img class="scale" src="/images/ld_cut/Excellent-Cut-Diamond.jpg" alt="Very-Good-Cut-Round-Diamond">
                        
                    </div>
                    <div class="diamond-text-box">
                        <h3>DreamStone Ideal</h3>
                        <p>lorem</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <a href="/images/ld_cut/Excellent-Cut-Diamond.jpg" class="magnific-popup">
                <div class="diamond-img-box">
                    <img class="scale" src="/images/ld_cut/Excellent-Cut-Diamond.jpg" alt="Very-Good-Cut-Round-Diamond">
                    
                </div>
                <div class="diamond-text-box">
                    <h3>Excellent Cut</h3>
                    <p>Excellent Cut</p>
                </div>
                </a>
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <a href="/images/ld_cut/Ideal-Scope-Very-Good-Cut-B-1.jpg" class="magnific-popup">
                    <div class="diamond-img-box">
                        <img class="scale" src="/images/ld_cut/Ideal-Scope-Very-Good-Cut-B-1.jpg" alt="Ideal-Scope-Very-Good-Cut-B-1">
                    </div>
                    <div class="diamond-text-box">
                        <h3>Very Good Cut</h3>
                        <p>Very Good Cut</p>
                    </div>
                </a>  
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <a href="/images/ld_cut/Ideal-Scope-Good-Cut-1.jpg" class="magnific-popup">
                    <div class="diamond-img-box">
                        <img class="scale" src="/images/ld_cut/Ideal-Scope-Good-Cut-1.jpg" alt="Ideal-Scope-Good-Cut-1">
                    </div>
                    <div class="diamond-text-box">
                        <h3>Good Cut</h3>
                        <p>Good Cut</p>
                    </div>
               </a>  
            </div>
        </div>
        <div class="wow fadeInDown">
            <div class="diamond-box">
                <a href="/images/ld_cut/Fair-Cut-Diamond.jpg" class="magnific-popup">
                    <div class="diamond-img-box">
                        <img class="scale" src="/images/ld_cut/Fair-Cut-Diamond.jpg" alt="Fair-Cut-Round-Diamond">
                    </div>
                    <div class="diamond-text-box">
                        <h3>Fair Cut</h3>
                        <p>Fair Cut</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<script src="/js/wow.min.js"></script>
<link rel="stylesheet" href="/css/wowanimate.css">
<script>
    new WOW().init();
</script>

<script src="/js/magnific-popup.js"></script>
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css"/>


<script>
    $(document).ready(function() {
        $('.magnific').magnificPopup({
            delegate: '.magnific-popup',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-zoom-in mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                tCounter: '<span class="mfp-counter">%curr% of %total%</span>', // markup of counte
                preload: [0,1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                verticalFit: true,
            },
            zoom: {
                enabled: true,
                duration: 300
            },
            removalDelay: 300,
        });
    });
</script>