<div>
    <div class="content" style="margin-bottom: 20px;">
        <h2 style="text-align: center;">DIAMOND COLOR REVIEW </h2>
        <p>Many of you may have already heard the standard terminologies like “colorless” diamonds (consisting of grades D through F) and “near colorless” (consisting of grades G through J) and some find these terms to be too vague especially when there is a significant price difference between diamond colors within the same classification. Additionally, online photos of diamonds really don’t help you see the color difference between diamonds.  Since most single shot photos of loose diamonds are taken in a controlled light box it can make a bad diamond look good, and a good diamond look bad.  So in this article I will try to explain & illustrate the diamond color grade scale from the average viewer’s perspective along with some of the feedback I got from jewelers on how their customers reach to each color grade. I also found the diamonds that fall just below  the “near colorless” group like “faint yellow” diamonds are worth noting because they provide excellent value to the buyer who is not too sensitive to color.</p>     
        <h2>TOP VIEW</h2>
        <p>As mentioned in this topic’s outline, I had the privilege of working with many jewelers and diamond wholesalers in New York City’s diamond district to gain access to a large selection of diamonds at one time so I was able to compare them side by side under 55W fluorescence lighting and separately under halogen lighting. For this diamond color review one wholesaler organized a lineup of GIA certified round diamonds roughly at 2 carat total weight each from D color through N color.  To keep an even playing field, I tried to keep all the diamonds the same shape and size. So here we go, below is a picture of the lineup of GIA certified round diamonds from D color on the left all the way to N color on the right with light directly flashing over it.</p>

        <div class="holder-color-img">
            <div>
                <img style="max-width: 100%;max-height: 100%;" src="/images/ld_color/diamond-color-comparison.jpg" alt="diamond-color">
            </div>
            <div class="text-color-description">
                <p>Top view of round diamonds compared side by side from D color through N color graded diamonds.</p>
            </div>
        </div>

        <h2>ANGLE VIEW</h2>
        <p>I find the top shot where the diamonds are facing up is important to consider since this is the largest visible part of the diamond and is what most people see once the diamond is set in a ring. However, you’ll find that this view also makes it difficult to detect color and is actually not the angle GIA uses to grade color.  To be able to see the true color of a diamond, you’ll need to see it from the side with no distractions from the diamond’s natural sparkle. The side view has the least amount of light refracting since the rays are directed upwards and not sidewards. You can see below as we start to look at the diamonds from an angle, the color saturations become more apparent from one grade to the next:</p>

        <div class="holder-color-img">
            <div style="text-align: center;">
                <img style="max-width: 100%;max-height: 100%;" src="/images/ld_color/diamond-color-lineup-1.jpg" alt="diamond-color">
            </div>
            <div class="text-color-description">
                <p>Angle view of round diamonds compared side by side from D color through N color graded diamonds.</p>
            </div>
        </div>

        <h2>SIDE VIEW</h2>
        <p>Once we turn the diamonds completely on their side, the color variations become crystal clear.  There is little to no light reflecting from this angle and the full body of the diamond color saturation can be graded when compared side by side.</p>

        <div class="holder-color-img">
            <div>
                <img style="max-width: 100%;max-height: 100%;" src="/images/ld_color/side-view-diamonds-comparison.jpg" alt="diamond-color">
            </div>
            <div class="text-color-description">
                <p>Side view of round diamonds compared side by side from D color through N color graded diamonds.</p>
            </div>
        </div>
        <p>Yet even from this view which is about 2X magnified under perfect lighting condition the first touch of color starts around I or J, but only a subtle hue. I then got a chance to observe the diamonds independently and I will share my feedback, opinion and recommendations on each of them.</p>

        <h2>D, E, F</h2>
        <p>D-F graded diamonds make up the colorless family.  Sometimes dealers offer a bigger discount on these diamonds to offset the higher base. In those rare occasions, if the difference in price is not too steep compared to diamonds with lower color grades then by all means, you should grab the deal. Just make sure there isn’t another inferior characteristic that is causing the price to drop. </p>

        <div class="mb-20">
            <div style="display: flex;justify-content: center;">
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">D color</span>
                    <img src="/images/ld_color/2.00-D-VS2.jpg" alt="D">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">E color</span>
                    <img src="/images/ld_color/2.00-E-VS2.jpg" alt="E">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">F color</span>
                    <img src="/images/ld_color/2.00-F-VS2.jpg" alt="F">
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">D color</span>
                    <img src="/images/ld_color/D-Color-Side.jpg" alt="D">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">E color</span>
                    <img src="/images/ld_color/E-Color-Side.jpg" alt="E">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">F color</span>
                    <img src="/images/ld_color/F-Color-Side.jpg" alt="F">
                </div>
            </div>
        </div>

        <p>D color – completely colorless, no color at all, like an ice cube. This is the most rare color grade and considered most desirable, and therefore priced highest out of all colors. Also, when I spoke to jewelers they said that sometimes their customers choose D color just so they can say they got the highest color, but that doesn’t necessarily translate into something they differentiated with the naked eye. It is akin to getting a feature in a product you may never use. I surely did appreciate the almost “ice cube” look of the D color, but if all things being equal I for one would probably give it up for something else like a larger diamond, or just save some money.</p>
        <p>E color – I find E colors to be almost indistinguishable from D, even compared side by side, it is very hard to detect any color in the E graded diamonds.  E color is usually the color of choice when D color simply isn’t available within the criteria they’re searching for. Here again, I would give up this color grade for either the money savings or to get a larger diamond within the same budget. </p>

        <p>F color – still considered colorless, with the only color detected when compared side by side with E or D color. F color actually being more popular color of choice than D or E color because it is colorless without spending the extra premium on D or E.  </p>
    
        <h2>G, H, I, J</h2>
        <p>G-H-I-J color make up the “near colorless” family with only minute differences between them. Under typical everyday lighting conditions, there is no obvious color that stands out to the untrained eye when the diamond is viewed from the top. If you compare one side of the scale, say for example a J color next to a D or E color the difference in shade become obvious, but between each consecutive color grade, the differences are very subtle.</p>

        <div class="mb-20">
            <div style="display: flex;justify-content: center;">
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">G color</span>
                    <img src="/images/ld_color/2.00-G-VS2.jpg" alt="K">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">H color</span>
                    <img src="/images/ld_color/2.00-H-VS2.jpg" alt="L">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">I color</span>
                    <img src="/images/ld_color/2.00-i-VVS2.jpg" alt="M">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">J color</span>
                    <img src="/images/ld_color/2.01-J-VVS2.jpg" alt="N">
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">G color</span>
                    <img src="/images/ld_color/G-Color-Side.jpg" alt="K">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">H color</span>
                    <img src="/images/ld_color/H-Color-Side.jpg" alt="L">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">I color</span>
                    <img src="/images/ld_color/I-Color-Side.jpg" alt="M">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">J color</span>
                    <img src="/images/ld_color/J-Color-Side.jpg" alt="N">
                </div>
            </div>
        </div>

        <p>G color – this color is one of the most popular color of choice because it knocks on the door of the colorless family standing right outside the spectrum. A G color graded diamond will have no noticeable color to the untrained eye and only the slightest trace of tint can be detected when compared to higher color grades.</p>
        <p>H color – for a lot of people, H color seems to be the minimum threshold for a diamond to be considered having “no obvious color.” H color exhibits only a very subtle hint of color when compared side by side with higher color grades. G and H are often grouped together. Most people are typically okay with either one, although some state they’d prefer G “just to play it safe.” Both of these colors are perfect options in my opinion and I don’t think you can go wrong with either one. When I compared G color to H, I could not see a visible difference. G-H seems to be the sweet spot for the most consumers.</p>
        <p>I color – This is typically about where, on the color scale, the hint of yellow starts to become apparent to the naked eye. A subtle hue of color is detectable when the diamond is viewed carefully and on its side under the right lighting conditions (Shown in the next photo below). I color provides a lot of value without compromising much and is often the #1 color of choice when you want to get a larger diamond as they become more affordable. If you’re willing to compromise slightly on color to obtain a larger diamond, I color could be for you. I color is one of my personal favorites.</p>
        <p>J color – the last color in the “colorless” family.  We have to remind ourselves, that it is still considered “near colorless”  and through our own tests and research we would definitely consider it near colorless. A hint of color is detectable when viewed loose on its own and it becomes a tad more obvious when compared to higher color grades. J color is another great choice if you want a larger diamond for the budget.</p>


        <h2>K, L, M</h2>
        <p>K-L-M are grouped together in the “faint yellow” family. It is actually fairly tricky to differentiate the three colors in this group, but with some patience and careful attention and of course the right lighting the average person can put them in the right order by detecting the slight variations in color. </p>

        <div class="mb-20">
            <div style="display: flex;justify-content: center;">
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">K color</span>
                    <img src="/images/ld_color/2.01-K-VS1.jpg" alt="K">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">L color</span>
                    <img src="/images/ld_color/2.01-L-VS1-BETTER.jpg" alt="L">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">M color</span>
                    <img src="/images/ld_color/2.01-M-VS1.jpg" alt="M">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">N color</span>
                    <img src="/images/ld_color/2.01-N-VS1.jpg" alt="N">
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">K color</span>
                    <img src="/images/ld_color/K-Color-Side.jpg" alt="K">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">L color</span>
                    <img src="/images/ld_color/L-Color-Side.jpg" alt="L">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">M color</span>
                    <img src="/images/ld_color/M-Color-Side.jpg" alt="M">
                </div>
                <div class="holder-color-diamond wow zoomIn tooltip">
                    <span class="tooltiptext">N color</span>
                    <img src="/images/ld_color/N-Color-Side.jpg" alt="N">
                </div>
            </div>
        </div>

        <p>K color – exhibits a faint yellow hue. K falls right outside the near colorless world and does exhibit a faint yellow hue from the top & side, but still apparently white from the top.  Here is where most jewelers said their customers either “see the yellow or really can’t tell, but just don’t like the idea of a K color diamond”.  Although K color diamonds are not as popular as higher color grades, I wouldn’t rule it out, especially if you want to get a much larger diamond within budget.</p>
        <p>L color – faint yellow tint can be seen from the side, but like K color diamonds the color is less obvious from the top. For those who want to fit a much larger diamond within budget, L color can make it happen.</p>
        <p>M color – a yellow tint of color can be seen from the side of the diamond, and slightly more from the top as well.  M color would probably be the lowest color grade I would consider. After this color grade, the yellow in a diamond is very obvious. One jeweler mentioned to us that there is a market for L and M color grades in the very large carat weight sizes, upwards of 5+ carats.</p>


        <h2>CONCLUSION</h2>
        <p>It is important to note that once a diamond is mounted in a setting it becomes harder to determine it’s color grade. This is why GIA will only grade “loose” diamonds. The color of the prongs often affect the diamond’s color and also the particles of dirt that tend to form on the diamond can also distract the viewer from measuring the true color grade.   Keeping this in mind, you’ll have some leeway here if you’re tight on budget. Feel free to slide down one color grade from your original criteria and go for a larger diamond.  </p>

    </div>


</div>


<script src="/js/wow.min.js"></script>
<link rel="stylesheet" href="/css/wowanimate.css" />
<script>new WOW().init();</script>

<!-- <script src="/js/magnific-popup.js"></script>
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css"/> -->