<!-- ORDER PAGE NAVIGATION -->
<ul class="t-order-pages-nav">
    <li>
        <a href="#"><span class="c-step-icon t-step-diamond"></span><p class="t-step-text"><span>Choose </span><span>a DIAMOND</span></p></a>
    </li>
    <li class="active">
        <a href="#"><span class="c-step-icon t-step-setting"></span><p class="t-step-text"><span>Choose </span><span>a SETTING</span></p></a>
    </li>
    <li>
        <a href="#" class="s-blocked-link"><span class="c-step-icon t-step-complete"></span><p class="t-step-text"><span>review </span><span>complete ring</span></p></a>
    </li>
</ul>
<div class="u-border-hor-light"></div>
<!-- /ORDER PAGE NAVIGATION -->