<div class="o-results-block">
    <header class="t-results-header">
        <div class="o-col-lg-12 o-col-md-4 u-fr">
            <div class="t-diamond-chat s-md-invisible">
                <a href="#" class="u-color-blue u-fr u-f14 u-text-upper u-text-none-underline">chat with a diamond expert</a>
            </div>
            <div class="select-node u-fr">
                <label class="s-md-invisible">Sort by:</label>
                <div class="select-block">
                    <select>
                        <option>High to low</option>
                        <option>Low to high</option>
                    </select>
                </div>
            </div>
            <div class="select-node u-fr s-md-invisible">
                <label>Ships as a loose diamond by:</label>
                <div class="select-block">
                    <select>
                        <option>Any date</option>
                        <option>Last week</option>
                    </select>
                </div>
            </div>
            <div class="u-fl s-md-invisible">
                <a href="#" class="t-display-style-btn t-display-style-list"></a>
                <a href="#" class="t-display-style-btn t-display-style-block active"></a>
                <a href="#" class="t-display-style-btn t-display-style-block-front"></a>
            </div>
            <div class="u-clear"></div>
        </div>
        <div class="u-clear"></div>
    </header>

    <div class="u-clear"></div>
    <div class="o-col-lg-12 o-row">
        <div class="o-col-lg-12 o-row">
             <ul class="t-compare-results">
                {%  include "pages/frontend/loose_diamonds/result_compare.twig" %}
                {%  include "pages/frontend/loose_diamonds/result_compare.twig" %}
                {%  include "pages/frontend/loose_diamonds/result_compare.twig" %}
                {%  include "pages/frontend/loose_diamonds/result_compare.twig" %}
                {%  include "pages/frontend/loose_diamonds/result_compare.twig" %}
            </ul>
        </div>
    </div>
    <div class="u-clear"></div>
</div>