<!-- one result -->
<li class="t-compare-result-block holder-compare-cart">
    <div class="compare-cart">
        <a href="#" class="t-compare-result-delete"></a>
        <div class="t-search-result-image-block">
            <img src="../images/example.jpg" width="276" height="126"
                class="reel"
                data-image="../images/example.jpg"
                data-footage="6"
                data-frames="35"
                data-entry="1"
                alt="images">
            <label class="c-rotate-360-label"></label>
        </div>

        <div class="t-compare-result-description-block">
        <span class="t-compare-price">$ 1.450</span>
        <div class="u-clear-10"></div>
        <table class="t-compare-table">
            <tr>
                <td>item</td>
                <td>1979055</td>
            </tr>
             <tr>
                <td>carat</td>
                <td>0.6</td>
            </tr>
             <tr>
                <td>color</td>
                <td>green</td>
            </tr>
             <tr>
                <td>clarity</td>
                <td>VS2</td>
            </tr>
             <tr>
                <td>cut</td>
                <td>IDEAL</td>
            </tr>
             <tr>
                <td>depth</td>
                <td>62.1</td>
            </tr>
             <tr>
                <td>table</td>
                <td>59</td>
            </tr>
             <tr>
                <td>pol/sym</td>
                <td>EX/VG</td>
            </tr>
             <tr>
                <td>flour</td>
                <td>S</td>
            </tr>
             <tr>
                <td>girdle</td>
                <td><span>Medium to Slighty Think</span></td>
            </tr>
             <tr>
                <td>culet</td>
                <td>N</td>
            </tr>
             <tr>
                <td>measur</td>
                <td>5.41*5.36*3.34</td>
            </tr>
             <tr>
                <td>lab</td>
                <td>GIA</td>
            </tr>
        </table>
        </div>
    </div>
    
</li>
<!-- /one result -->