{% extends "layouts/frontend.twig" %}

{%- block head_title -%}
    Loose Diamonds | Ideal Cut Diamonds | Certified Diamonds | Diamond Engagement Rings - DreamStone
{%- endblock -%}

{%- block meta_description -%}
    Shop diamond engagement rings, diamond stud earrings, diamond pendants, GIA diamonds online at dreamstone.com. DreamStone's comprehensive interactive education center will guide you through everything you need to know about diamonds.
{%- endblock -%}

{%- block meta_keywords -%}
    Loose Diamonds, Ideal Cut Diamonds, Certified Diamonds, Princess Cut Diamond, Round Diamond, Diamond Engagement Rings, Diamond Stud Earrings, Solitaire Diamond Pendant, diamond education, designer engagement rings, unique engagement rings.
{%- endblock -%}

{% block content %}
  <div class="o-col-lg-12 o-col-sm-12 bread-crumbs-search">
    {%  include "pages/frontend/_partials/bread_crumbs.twig" %}
  </div>
    <div class="u-clear"></div>
    <div class="content">
        {%  include "pages/frontend/loose_diamonds/filter.twig" %}
        {%  include "pages/frontend/loose_diamonds/results_filter.twig" %}
    </div>
    <script>
      window.search = window.search || function(field, value) {
        if (field === 'jewelrytype') {
          location.pathname = '/jewelry/' + value; // NOTE: all filters saved in url
        } else {
          UrlParams.set({ [field]: UrlParams.get()[field] === value ? '' : value }, false);
          const viewMode = UrlParams.get().v || 'g';
          const itemsWrapper = viewMode == 't' ? '.t-resalt-table-body' : '.t-search-results';
          loadPageData(location.href, itemsWrapper, true, function (finish, total) {
              updateLinks();
              refreshResultCounter(total);
          });
        }
      };
    </script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>

{% endblock %}