<!-- one result -->
<li class="t-search-result-block">
    <a href="#" class="t-search-result-like t-search-result-like-selected"></a>
    <a href={{ path_for('weddingRings-Search', {'filter': 'weddingmen_' ~ 'carved/87984'})  }}>
        <div class="t-search-result-image-block">
            <img src="../images/example.jpg" width="276" height="126"
                class="reel"
                alt="images"
                data-image="../images/example.jpg"
                data-footage="6"
                data-frames="35"
                data-entry="1">
            <label class="c-rotate-360-label"></label>
        </div>

        <div class="t-search-result-description-block">
            <span class="t-search-result-short-desc">Classic Four-Prong</span>
            <span class="t-search-result-short-desc">Yellow Gold</span>
            <span class="t-search-result-short-desc">Engagement Ring</span>
            <span class="t-search-result-price">Price: $1.450</span>
            <div class="t-search-result-metal-choose s-sm-invisible">
                <a href="javascript:void(0);" id="click" class="t-metal-open-btn">Metal</a>
                <div class="t-metal-color-piker">
                    <ul>
                        <li class="t-metal-color-radio-block active">
                            <input type="radio" class="metal_color_all" id="metal_color_all_1" name="metal_color_1">
                            <label for="metal_color_all_1" title="all metals"></label>
                        </li>
                        <li class="t-metal-color-radio-block">
                            <input type="radio" class="metal_color_white_gold_14" id="metal_color_white_gold_14_1" name="metal_color_1">
                            <label for="metal_color_white_gold_14_1" title="14k white gold"></label>
                        </li>
                        <li class="t-metal-color-radio-block">
                            <input type="radio" class="metal_color_white_gold_18" id="metal_color_white_gold_18_1" name="metal_color_1">
                            <label for="metal_color_white_gold_18_1" title="18k white gold"></label>
                        </li>
                        <li class="t-metal-color-radio-block">
                            <input type="radio" class="metal_color_yellow_gold_14" id="metal_color_yellow_gold_14_1" name="metal_color_1">
                            <label for="metal_color_yellow_gold_14_1" title="14k yellow gold"></label>
                        </li>
                        <li class="t-metal-color-radio-block">
                            <input type="radio" class="metal_color_yellow_gold_18" id="metal_color_yellow_gold_18_1" name="metal_color_1">
                            <label for="metal_color_yellow_gold_18_1" title="14k rose gold"></label>
                        </li>
                        <li class="t-metal-color-radio-block">
                            <input type="radio" class="metal_color_platinum" id="metal_color_platinum_1" name="metal_color_1">
                            <label for="metal_color_platinum_1" title="Platinum"></label>
                        </li>
                        <li class="t-metal-color-radio-block">
                            <input type="radio" class="metal_color_rose_gold" id="metal_color_rose_gold_1" name="metal_color_1">
                            <label for="metal_color_rose_gold_1" title="rose gold"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="t-search-result-reviews-block s-sm-invisible">
                <ul class="c-review-stars u-fl">
                    <li class="c-star"></li>
                    <li class="c-star"></li>
                    <li class="c-star"></li>
                    <li class="c-star"></li>
                    <li class="c-star-o"></li>
                </ul>
                <span class="t-reviews u-fr">21 Reviews</span>
            </div>
        </div>
    </a>
</li>
<!-- /one result -->