<div class="t-reivew-item">
    <div class="o-col-lg-10 o-row">
        <p class="u-f16 u-color-dark-gray u-tl">Dustin B.</p>
    </div>
    <div class="o-col-lg-2 o-row">
        <p class="u-f16 u-color-light-gray u-tr">11/08/16</p>
    </div>
    <div class="u-clear"></div>
    <div class="o-col-lg-10 o-row">
        <p class="u-f20 u-color-black u-text-upper u-tl">Absolutely gorgeous</p>
    </div>
    <div class="o-col-lg-2 o-row">
        <ul class="c-reviews u-fr u-mrg-0">
            <li class="c-reviews-star-full"></li>
            <li class="c-reviews-star-full"></li>
            <li class="c-reviews-star-full"></li>
            <li class="c-reviews-star-full"></li>
            <li class="c-reviews-star-empty"></li>
        </ul>
    </div>
    <div class="u-clear"></div>
    <div class="o-col-lg-12 o-row">
        <p class="u-f16 u-color-dark-gray u-tl">I won't lie, I was a little nervous on buying this over the Internet without really being able to see it. They have a free returns policy so I decided to take the plunge knowing that I have that safety net. Well I am more more more more than amazed by the ring that I received. This looked 10x sharper/brighter than anyone else's that I know of.</p>
    </div>
    <div class="u-clear"></div>
    <div class="o-col-lg-6 o-row">
        <a href="#" class="c-share-btn">Share</a>
    </div>
    <div class="o-col-lg-6 o-row">
        <a href="#" class="c-like-btn">39</a>
        <a href="#" class="c-dislike-btn">9</a>
    </div>
    <div class="u-clear"></div>
</div>