<div class="o-col-lg-12 o-row">
    <ul class="t-search-results">
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}

        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}

        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
        {%  include "pages/frontend/gemstones/result.twig" %}
    </ul>
</div>
