{% extends "layouts/frontend.twig" %}

{%- block head_title -%}
    Loose Diamonds | Ideal Cut Diamonds | Certified Diamonds | Diamond Engagement Rings - DreamStone
{%- endblock -%}

{%- block meta_description -%}
    Shop diamond engagement rings, diamond stud earrings, diamond pendants, GIA diamonds online at dreamstone.com. DreamStone's comprehensive interactive education center will guide you through everything you need to know about diamonds.
{%- endblock -%}

{%- block meta_keywords -%}
    Loose Diamonds, Ideal Cut Diamonds, Certified Diamonds, Princess Cut Diamond, Round Diamond, Diamond Engagement Rings, Diamond Stud Earrings, Solitaire Diamond Pendant, diamond education, designer engagement rings, unique engagement rings.
{%- endblock -%}

{% block content %}
     <script>
    $(document).ready(function(){
        $(".t-discover-more").on( "click", function(e) {
            $('#discover_more_block').toggle("slow");
            $(this).toggleClass('t-open');
        });
    });
    </script>
    <script src="{{ app.request.getSchemeAndHttpHost() }}/js/modernizr.custom.js"></script>
    <div style="min-height: 400px; font-size: 48px; display: flex; align-items: center; justify-content: center">{{ text }}</div>
{% endblock %}