<div class="content">
    <div class="o-col-lg-4 o-col-sm-12 u-tc t-diamond-bunner t-engagement-rings-bunner-3">
        <p class="t-sm">Solitaire Diamond</p>
        <p class="t-md">Pendants</p>
    </div>
    <div class="o-col-lg-8 o-col-sm-12 u-tr t-diamond-bunner t-engagement-rings-bunner-4">
        <p class="t-bg">INSPIRATION</p>
        <p class="t-md">GALLERY</p>
    </div>
</div>