<!-- Forgot password form -->
<form class="login_form forgot" name="forgotForm" id="forgotForm" action="/user/forgot_password?returnUrl={%
    if get.returnUrl != ""%}{{ get.returnUrl }}{% else %}{{ currentPath }}{% endif
%}" method="post">
    <h4>Forgot Password?</h4>
    <p>To reset your password, please enter your email address</p>
    <input name="userEmail" id="userEmail" type="email">
    <div class="u-clear-10"></div>
    <button id="forgotSubmitButton" type="submit" class="g-recaptcha"
        data-sitekey="6Lc2jQoeAAAAAIzf4K1jjmHP5WqLqky7Fa8_0i8t" data-callback='onForgotPasswordSubmit'
        data-action='forgotPassword'>Continue</button>
</form>
<form class="login_form forgotSent" name="forgotSentForm" id="forgotSentForm" style="display: none;" action="{%
    if get.returnUrl != ""%}{{ get.returnUrl }}{% else %}{{ currentPath }}{% endif
%}">
    <h4>Password Reset</h4>
    <p>Please check your email for further instructions</p>
    <div class="u-clear-10"></div>
    <button id="forgotSentSubmitButton">Close</button>
</form>
<script>
    function forgotSentSubmit(ev) {
        ev.preventDefault();
        $('.modal').removeClass('s-show');
        $('.login, .registration, .forgot, .forgotSent').removeClass('s-show');

        return false;
    }

    function forgotSubmit(token) {
        $.post(
            '/user/forgot_password', {
                userEmail: $('#userEmail').val(),
                gToken: token,
            },
            function (msg) {
                $('.login, .registration, .forgot').removeClass('s-show');
                $('.forgotSent').addClass('s-show');
            }
        );

        return false;
    }

    $('#forgotSentForm').submit((ev) => {
        ev.preventDefault();
        forgotSentSubmit(ev);
    });

    $('#forgotForm').submit((ev) => {
        ev.preventDefault();
        forgotSubmit();
    });

    function onForgotPasswordSubmit(token) {
        console.log('Forgot Password form submitted');
        setTimeout(forgotSubmit, 0, token);
    }
</script>
<!-- /Forgot password form -->