<div class="o-results-block">
    <div class="o-col-lg-12 o-row">
        <div class="o-col-lg-12 o-row">
             <ul class="t-compare-results">
                 {% for product in products %}
                     {% include "pages/frontend/jewelry/compare/result_compare.twig" %}
                 {% endfor %}
            </ul>
        </div>
    </div>
    <div class="u-clear"></div>
</div>