<div class="content">
    <div class="o-col-lg-8 o-col-sm-12 u-tl t-diamond-bunner t-engagement-rings-bunner-1">
        <a href={{ path_for('jewelry-Search', {'filter': 'rings'})}}>
            <p class="t-bg">design</p>
            <p class="t-md">your ring</p>
        </a>
    </div>
    <div class="o-col-lg-4 o-col-sm-12 u-tc t-diamond-bunner t-diamond-bunner-2">
        <a href={{ path_for('jewelry-Search', {'filter': 'rings_diamond-rings'})}}>
            <p class="t-md">Create your own</p>
            <p class="t-sm">Diamond Engagement Ring</p>
        </a>
    </div>
</div>