<div class="content">
    <div class="o-col-lg-8 o-col-md-12 u-tr t-diamond-bunner t-engagement-rings-bunner-5">
        <a href={{ path_for('jewelry-Search', {'filter': 'all'})}}>
            <p class="t-md">What carat<br>weight should<br>I choose?</p>
        </a>
    </div>
    <div class="o-col-lg-4 o-col-md-12 t-diamond-bunner t-diamond-bunner-6">
        <a href={{ path_for('jewelry-Search', {'filter': 'all'})}}>
            <p class="t-sm u-tr">Which clarity</p>
            <p class="t-md u-tr">should I choose?</p>
        </a>
    </div>
</div>