<div class="t-engagement-rings-banner t-jewelry-banner">
    <div class="o-col-lg-5 o-col-md-12"></div>
    <div class="o-col-lg-6 o-col-md-12 u-tc t-engagement-rings-banner-data ">
        <h5 class="t-banner-header-engagement-ring">Fine jewelry collection</h5>
        <div class="t-banner-engagement-ring-design">
            <a href="{{ path_for('jewelry-Search', {'filter': 'earrings'}) }}" class="t-banner-engagement-ring-design-ring t-banner-jewelry-typ-earrings" >earrings</a>
            <a href="{{ path_for('jewelry-Search', {'filter': 'rings'}) }}" class="t-banner-engagement-ring-design-ring t-banner-jewelry-typ-rings" >rings</a>
            <a href="{{ path_for('jewelry-Search', {'filter': 'pendants'}) }}" class="t-banner-engagement-ring-design-ring t-banner-jewelry-typ-pendants" >pendants</a>
            <a href="{{ path_for('jewelry-Search', {'filter': 'bracelets'}) }}" class="t-banner-engagement-ring-design-ring t-banner-jewelry-typ-bracelets" >bracelets</a>
        </div>
        <div class="u-clear"></div>
    </div>
</div>