<div class="content u-tc t-diamond-bunner t-diamond-bunner-7">
    <a href={{ path_for('jewelry-Search', {'filter': 'all'})}}>
        <p class="t-bg">WHICH COLOR SHOULD I CHOOSE?</p>
    </a>
    <div class="u-clear"></div>
</div>