<div class="o-col-lg-12 o-row">
    <ul class="t-search-results">
        {% for product in products %}
            {%  include "pages/frontend/favorites/result.twig" %}
        {% endfor %}
    </ul>
</div>
