<li {% if isAboutSection %}class="active" {% endif %}>
    <a class="c-nav-link" href="/about">ABOUT</a>
   <div id="nav_about_web" class="c-main-nav-second-level">
        <div class="o-col-lg-4 o-row">
            <h6>Shop with confidence</h6>
            <ul class="t-second-nav-list">
                <li><a href="#">Our Story</a></li>
                <li><a href="#">The Dream Team</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Financing</a></li>
                <li><a href="#">Lifetime Warranty</a></li>
                <li><a href="#">Lifetime Upgrade</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="o-col-lg-4 o-row u-bg-light-gray">
            <h6>Our showrooms</h6>
            <ul class="t-second-nav-list">
                <li><a href="#">New York City</a></li>
                <li><a href="#">Melville Long Island</a></li>
                <li><a href="#">Florida</a></li>
            </ul>
        </div>
        <div class="o-col-lg-4 o-row">
            <h6>See in-person</h6>
            <ul class="t-second-nav-list">
                <li><a href="#">Book A Free Appointment</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</li>
