<li {% if isDiamondsSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="/loose-diamonds">DIAMONDS</a>
    <div id="nav_diamonds_web" class="c-main-nav-second-level">
        <div class="o-col-lg-4 o-row">
            <h6>Find Perfect Diamond</h6>
            <div class="u-clear"></div>
            <ul class="t-second-nav-list t-second-nav-loos">
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Round">
                        <img src="/content/diagram_loose_diamonds/Cut_Round.svg" alt="diamond shape">
                        Round
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Princess">
                        <img src="/content/diagram_loose_diamonds/Cut_Princess.svg" alt="diamond shape">
                        Princess
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Cushion">
                        <img src="/content/diagram_loose_diamonds/Cut_Cushion.svg" alt="diamond shape">
                        Cushion
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Oval">
                        <img src="/content/diagram_loose_diamonds/Cut_Oval.svg" alt="diamond shape">
                        Oval
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Emerald">
                        <img src="/content/diagram_loose_diamonds/Cut_Emerald.svg" alt="diamond shape">
                        Emerald
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Radiant">
                        <img src="/content/diagram_loose_diamonds/Cut_Radiant.svg" alt="diamond shape">
                        Radiant
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Asscher">
                        <img src="/content/diagram_loose_diamonds/Cut_Asscher.svg" alt="diamond shape">
                        Asscher
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Pear">
                        <img src="/content/diagram_loose_diamonds/Cut_Pear.svg" alt="diamond shape">
                        Pear
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Heart">
                        <img src="/content/diagram_loose_diamonds/Cut_Heart.svg" alt="diamond shape">
                        Heart
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/loose-diamonds/search?shape_id=Marquise">
                        <img src="/content/diagram_loose_diamonds/Cut_Marquise.svg" alt="diamond shape">
                        Marquise
                    </a>
                </li>
            </ul>
            <div class="o-col-lg-6 o-row">
                <a class="t-second-nav-link" href="/loose-diamonds/search">view all shapes</a>
                <a class="t-second-nav-link" href="#">Ultimate ideal cut</a>
            </div>
            <div class="o-col-lg-6 o-row">
                <a class="t-second-nav-link" href="/education">diamond education</a>
            </div>
            <div class="u-clear"></div>
        </div>
        <div class="o-col-lg-4 o-row u-bg-light-gray">
            <h6>Design Your Own:</h6>
            <ul class="t-second-nav-list t-second-nav-build t-second-nav-big-list">
                <li class="t-scnav-eng-ring"><a href="/engagement-rings">Diamond Engagement Ring</a></li>
                <!-- <li class="t-scnav-stud"><a href="#">Diamond Studs</a></li> -->
                <li class="t-scnav-pendatn"><a href="#">Diamond Pendant</a></li>
            </ul>
            <h6>Shop:</h6>
            <ul class="t-second-nav-list t-second-nav-build t-second-nav-big-list">
                <li class="t-scnav-rings"><a href="#">Diamond Rings</a></li>
                <li class="t-scnav-earrings"><a href="#">Diamond Earrings</a></li>
                <li class="t-scnav-necklaces"><a href="#">Diamond Necklaces</a></li>
                <li class="t-scnav-bracelets"><a href="#">Diamond Bracelets</a></li>
            </ul>
            <div class="u-clear"></div>
        </div>
        <div class="o-col-lg-4 o-row">
            <h6>SERVICE & BENEFITS</h6>
            <!-- <ul class="t-second-nav-list t-second-nav-colors"> -->
                <!-- now the search for colored diamonds does not work -->
                <!-- <li class="o-col-lg-6 o-row t-scnav-yellow"><a href="/loose-diamonds/fancycolor-yellow">Yellow</a></li>
                <li class="o-col-lg-6 o-row t-scnav-blue"><a href="/loose-diamonds/fancycolor-blue">Blue</a></li>
                <li class="o-col-lg-6 o-row t-scnav-purple"><a href="/loose-diamonds/fancycolor-pink">Purple</a></li>
                <li class="o-col-lg-6 o-row t-scnav-red"><a href="/loose-diamonds/fancycolor-red">Red</a></li>
                <li class="o-col-lg-6 o-row t-scnav-violet"><a href="/loose-diamonds/fancycolor-purple">Violet</a></li>
                <li class="o-col-lg-6 o-row t-scnav-green"><a href="/loose-diamonds/fancycolor-green">Green</a></li>
                <li class="o-col-lg-6 o-row t-scnav-orange"><a href="/loose-diamonds/fancycolor-orange">Orange</a></li>
                <li class="o-col-lg-6 o-row t-scnav-brown"><a href="/loose-diamonds/fancycolor-brown">Brown</a></li>
                <li class="o-col-lg-6 o-row t-scnav-black"><a href="/loose-diamonds/fancycolor-black">Black</a></li>
                <li class="o-col-lg-6 o-row t-scnav-gray"><a href="/loose-diamonds/fancycolor-gray">Gray</a></li>
                <li class="o-col-lg-6 o-row t-scnav-white"><a href="/loose-diamonds/fancycolor-gray">White</a></li> -->
            <!-- </ul> -->
            <ul class="t-second-nav-list">
                <li><a href="#">Financing Options</a></li>
                <li><a href="#">Diamond Upgrade Program</a></li>
                <li><a href="#">Diamond Price Match</a></li>
                <li><a href="#">Military Discounts</a></li>
            </ul>
            <h6>LEARN</h6>
            <ul class="t-second-nav-list">
                <li><a href="#">Know Your 4C's</a></li>
                <li><a href="#">Ethically Sourced & Conflict Free</a></li>
            </ul>
            <div class="u-clear"></div>
        </div>
    </div>
</li>