<li {% if isEducationSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="/education">EDUCATION</a>
    <div id="nav_education_web" class="c-main-nav-second-level">
        <div class="o-col-lg-4 o-row">
            <h6>Diamond Education</h6>
            <ul class="t-second-nav-list">
                <li><a href="#">Cut</a></li>
                <li><a href="#">Color</a></li>
                <li><a href="#">Clarity</a></li>
                <li><a href="#">Carat</a></li>
                <li><a href="#">Certification</a></li>
            </ul>
        </div>
        <div class="o-col-lg-4 o-row u-bg-light-gray">
            <h6>Guides</h6>
            <ul class="t-second-nav-list">
                <li><a href="#">Engagement Ring Guide</a></li>
                <li><a href="#">GemStone Guide</a></li>
                <li><a href="#">Metal Guide</a></li>
            </ul>
        </div>
        <div class="o-col-lg-4 o-row">
            <h6>Peace of mind</h6>
            <ul class="t-second-nav-list t-second-nav-big-list">
                <li><a href="#">We are Conflict-Free</a></li>
                <li><a href="#">DreamStone's Upgrade Advantage</a></li>
                <li><a href="#">Appraisal & Jewelry Insurance</a></li>
                <li><a href="#">Our Ring Building Process</a></li>
                <li><a href="#">Ring Size Help</a></li>
                <li><a href="#">After You Place Your Order</a></li>
                <li><a href="#">Chooseing the Right Jeweler</a></li>
                <li><a href="#">How to Clean Your Jewelry</a></li>
            </ul>
        </div>
    </div>
</li>