<li {% if isEngagementRingsSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="/engagement-rings">ENGAGEMENT RINGS</a>
    <div id="nav_engagement_rings_web" class="c-main-nav-second-level c-main-nav-second-level-light-padding">
        <div class="o-col-lg-4 o-row">
            <h6>Engagement ring style</h6>
            <ul class="t-second-nav-list t-second-nav-eng-rings">
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Solitaire">
                        <img src="/content/shapes/Solitaire_01.svg" alt="Solitaire">
                        Solitaire
                    </a>
                </li class="o-col-lg-6 o-row">
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Side%20stone">
                        <img src="/content/shapes/Side_Stones_02.svg" alt="Side Stones">
                        Side Stones
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Halo">
                        <img src="/content/shapes/Halo_02.svg" alt="Halo">
                        Halo
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Channel">
                        <img src="/content/shapes/Channel_02.svg" alt="Channel">
                        Channel Set
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Vintage">
                        <img src="/content/shapes/vintage_02.svg" alt="Vintage">
                        Vintage
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Pave">
                        <img src="/content/shapes/Pave_02.svg" alt="Pave">
                        Pave
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Three%20stone">
                        <img src="/content/shapes/Side_Stone_02.svg" alt="Three-Stone">
                        Three-Stone
                    </a>
                </li>
                <li class="o-col-lg-6 o-row">
                    <a href="/engagement-rings/search?ringstyle=Bridal%20Sets">
                        <img src="/content/shapes/women_eternity.svg" alt="Women_eternity">
                        Bridal Sets
                    </a>
                </li>
            </ul>
        </div>
        <div class="o-col-lg-4 o-row u-bg-light-gray t-second-nav-block-with-bottom">
            <h6>design your own engagement ring</h6>
            <div class="u-clear"></div>
            <ul class="t-second-nav-list t-second-nav-build">
                <li class="t-scnav-start-diamond"><a href="/loose-diamonds/search?builder=1">Start with a Diamond</a></li>
                <li class="t-scnav-start-setting"><a href="/engagement-rings/search?builder=1">Start with a Setting</a></li>
                <li class="t-scnav-start-gemstone"><a href="/gemstones">Start with a GemStone</a></li>
            </ul>
            <div class="t-second-nav-bottom">
                <h6>Get inspired</h6>
                <a class="t-second-nav-link" href="#">Recenrly purchased rings</a>
            </div>
        </div>
        <div class="o-col-lg-4 o-row t-second-nav-block-with-bottom">
            <h6>Shop by metal</h6>
            <div class="u-clear"></div>
            <ul class="t-second-nav-list">
                <li>
                    <a href="/engagement-rings/search?metal=White%20Gold%2014%2CWhite%20Gold%2018">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.52 62.95">
                            <path class="u-metal-white-gold" d="M28.76,62.95a28.76,28.76,0,0,0,9.15-56,24.89,24.89,0,0,0,3.53-1.78A2.77,2.77,0,0,0,38.55.41,19.25,19.25,0,0,1,33.73,2.5a19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65A19.22,19.22,0,0,1,18.92.64a2.77,2.77,0,1,0-2.78,4.8A24.86,24.86,0,0,0,19.36,7a28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6,34.19,22.74,22.74,0,0,0,28.76,56.93Z"/>
                        </svg>
                        White Gold
                    </a>
                </li>
                <li>
                    <a href="/engagement-rings/search?metal=Yellow%20Gold%2014%2CYellow%20Gold%2018">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.93 64.36">
                            <path class="u-metal-yellow-gold" d="M29.47,63.65a28.76,28.76,0,0,0,9.15-56,24.86,24.86,0,0,0,3.53-1.78,2.77,2.77,0,1,0-2.89-4.73,19.25,19.25,0,0,1-4.81,2.09,19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65,19.22,19.22,0,0,1-4.64-1.92,2.77,2.77,0,0,0-2.78,4.8,24.89,24.89,0,0,0,3.23,1.57,28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6.72,34.9,22.74,22.74,0,0,0,29.47,57.64Z"/>
                        </svg>
                        Yellow Gold
                    </a>
                </li>
                <li>
                    <a href="/engagement-rings/search?metal=Rose%20Gold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.93 64.36">
                            <path class="u-metal-rouse-gold" d="M29.47,63.65a28.76,28.76,0,0,0,9.15-56,24.86,24.86,0,0,0,3.53-1.78,2.77,2.77,0,1,0-2.89-4.73,19.25,19.25,0,0,1-4.81,2.09,19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65,19.22,19.22,0,0,1-4.64-1.92,2.77,2.77,0,0,0-2.78,4.8,24.89,24.89,0,0,0,3.23,1.57,28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6.72,34.9,22.74,22.74,0,0,0,29.47,57.64Z"/>
                        </svg>
                        Rose Gold
                    </a>
                </li>
                <li>
                    <a href="/engagement-rings/search?metal=Platinum">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.93 64.36">
                            <path class="u-metal-platinum" d="M29.47,63.65a28.76,28.76,0,0,0,9.15-56,24.86,24.86,0,0,0,3.53-1.78,2.77,2.77,0,1,0-2.89-4.73,19.25,19.25,0,0,1-4.81,2.09,19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65,19.22,19.22,0,0,1-4.64-1.92,2.77,2.77,0,0,0-2.78,4.8,24.89,24.89,0,0,0,3.23,1.57,28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6.72,34.9,22.74,22.74,0,0,0,29.47,57.64Z"/>
                        </svg>
                        Platinum
                    </a>
                </li>
            </ul>
            <div class="u-clear"></div>
            <div class="t-second-nav-bottom">
                <h6>Ready to ship rings</h6>
                <a class="t-second-nav-link" href="#">Diamond rings</a>
                <div class="u-clear"></div>
                <a class="t-second-nav-link" href="#">GemStone rings</a>
            </div>
        </div>
    </div>
</li>