<li {% if isWeddingRingsSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="/wedding-rings">WEDDING</a>
    <div id="nav_wedding_web" class="c-main-nav-second-level c-main-nav-second-level-light-padding">
        <div class="o-col-lg-4 o-row t-second-nav-block-with-bottom">
            <h6>Women:</h6>
            <div class="u-clear"></div>
            <ul class="t-second-nav-list t-second-nav-build">
                <li class="t-scnav-start-wedding-classic"><a href="#">Classic</a></li>
                <li class="t-scnav-start-wedding-eternity"><a href="#">Eternity</a></li>
                <li class="t-scnav-start-wedding-diamond"><a href="#">Diamond</a></li>
                <li class="t-scnav-start-wedding-five-stone"><a href="#">Five Stone</a></li>
                <li class="t-scnav-start-wedding-matching-sets"><a href="#">Matching Sets</a></li>
            </ul>
            <div class="t-second-nav-bottom">
                <a class="t-second-nav-link" href="#">Top 20 women's bands</a>
            </div>
        </div>
        <div class="o-col-lg-4 o-row u-bg-light-gray t-second-nav-block-with-bottom">
            <h6>Men:</h6>
            <div class="u-clear"></div>
            <ul class="t-second-nav-list t-second-nav-build">
                <li class="t-scnav-start-wedding-classic"><a href="#">Classic</a></li>
                <li class="t-scnav-start-wedding-alternative-metal"><a href="#">Alternative Metal</a></li>
                <li class="t-scnav-start-wedding-carved"><a href="#">Carved</a></li>
                <li class="t-scnav-start-wedding-diamond-men"><a href="#">Diamond</a></li>
            </ul>
            <div class="u-clear"></div>
            <h6>shop by band width</h6>
            <ul class="t-band-width">
                <li><a href="#">2mm</a></li>
                <li><a href="#">3mm</a></li>
                <li><a href="#">4mm</a></li>
                <li><a href="#">5mm</a></li>
                <li><a href="#">6mm</a></li>
                <li><a href="#">7mm</a></li>
                <li><a href="#">8mm</a></li>
            </ul>
            <div class="t-second-nav-bottom">
                <a class="t-second-nav-link" href="#">Top 20 men's bands</a>
            </div>
        </div>
        <div class="o-col-lg-4 o-row">
            <h6>Choose your favorite metal:</h6>
            <ul class="t-second-nav-list">
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.52 62.95">
                            <path class="u-metal-white-gold" d="M28.76,62.95a28.76,28.76,0,0,0,9.15-56,24.89,24.89,0,0,0,3.53-1.78A2.77,2.77,0,0,0,38.55.41,19.25,19.25,0,0,1,33.73,2.5a19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65A19.22,19.22,0,0,1,18.92.64a2.77,2.77,0,1,0-2.78,4.8A24.86,24.86,0,0,0,19.36,7a28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6,34.19,22.74,22.74,0,0,0,28.76,56.93Z"/>
                        </svg>
                        White Gold
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.93 64.36">
                            <path class="u-metal-yellow-gold" d="M29.47,63.65a28.76,28.76,0,0,0,9.15-56,24.86,24.86,0,0,0,3.53-1.78,2.77,2.77,0,1,0-2.89-4.73,19.25,19.25,0,0,1-4.81,2.09,19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65,19.22,19.22,0,0,1-4.64-1.92,2.77,2.77,0,0,0-2.78,4.8,24.89,24.89,0,0,0,3.23,1.57,28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6.72,34.9,22.74,22.74,0,0,0,29.47,57.64Z"/>
                        </svg>
                        Yellow Gold
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.93 64.36">
                            <path class="u-metal-rouse-gold" d="M29.47,63.65a28.76,28.76,0,0,0,9.15-56,24.86,24.86,0,0,0,3.53-1.78,2.77,2.77,0,1,0-2.89-4.73,19.25,19.25,0,0,1-4.81,2.09,19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65,19.22,19.22,0,0,1-4.64-1.92,2.77,2.77,0,0,0-2.78,4.8,24.89,24.89,0,0,0,3.23,1.57,28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6.72,34.9,22.74,22.74,0,0,0,29.47,57.64Z"/>
                        </svg>
                        Rose Gold
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.93 64.36">
                            <path class="u-metal-platinum" d="M29.47,63.65a28.76,28.76,0,0,0,9.15-56,24.86,24.86,0,0,0,3.53-1.78,2.77,2.77,0,1,0-2.89-4.73,19.25,19.25,0,0,1-4.81,2.09,19.24,19.24,0,0,1-5.2.71,19.25,19.25,0,0,1-5-.65,19.22,19.22,0,0,1-4.64-1.92,2.77,2.77,0,0,0-2.78,4.8,24.89,24.89,0,0,0,3.23,1.57,28.76,28.76,0,0,0,9.39,55.94Zm0-6A22.74,22.74,0,1,0,6.72,34.9,22.74,22.74,0,0,0,29.47,57.64Z"/>
                        </svg>
                        Platinum
                    </a>
                </li>
            </ul>
        </div>
    </div>
</li>