<div class="content">
    <div class="o-col-lg-8 o-col-md-12 u-tc t-diamond-bunner t-diamond-bunner-5">
        <p class="t-md">What carat weight should I choose?</p>
    </div>
    <div class="o-col-lg-4 o-col-md-12 t-diamond-bunner t-diamond-bunner-6">
        <p class="t-sm u-tr">Which clarity</p>
        <p class="t-md u-tr">should I choose?</p>
    </div>
</div>