<div class="t-banner-diamonds">
    <div class="o-col-lg-6 o-col-md-12">
    </div>
    <div class="o-col-lg-5 o-col-md-12 u-tc t-diamond-banner-data">
        <h5 class="t-banner-header">Diamond search</h5>
        <p class="u-font-big">Quisque pretium aliquet mattis. Proin ut velit fermentum, eleifend quam lobortis, tempor purus. Morbi condimentum ipsum in neque porttitor accumsan. Etiam sed bibendum nunc. </p>
        <div>
            <a href="#" class="t-banner-button t-banner-button-opacity">Colorless Diamond</a>
            <a href="#" class="t-banner-button t-banner-button-opacity">Lab Grown Diamonds</a>
        </div>
    </div>
    <div class="u-clear"></div>
</div>