<li {% if isDiamondsSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="javascript: void(0);" onClick="toggleMobNav('nav_diamonds')">DIAMONDS</a>
    <div id="nav_diamonds" class="c-mob-nav-second-level">
        <h6>Find Perfect Diamond</h6>
        <div class="u-clear"></div>
        <ul class="t-second-nav-list t-second-nav-loos">
            <li><a href="/loose-diamonds/search?shape_id=Round">Round</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Princess">Princess</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Cushion">Cushion</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Oval">Oval</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Emerald">Emerald</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Radiant">Radiant</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Asscher">Asscher</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Pear">Pear</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Heart">Heart</a></li>
            <li><a href="/loose-diamonds/search?shape_id=Marquise">Marquise</a></li>
        </ul>
        <h6>Design Your Own:</h6>
        <ul class="t-second-nav-list t-second-nav-build t-second-nav-big-list">
            <li class="t-scnav-eng-ring"><a href="/engagement-rings">Diamond Engagement Ring</a></li>
            <!-- <li class="t-scnav-stud"><a href="#">Diamond Studs</a></li> -->
            <li class="t-scnav-pendatn"><a href="#">Diamond Pendant</a></li>
        </ul>
        <h6>Shop:</h6>
        <ul class="t-second-nav-list t-second-nav-build t-second-nav-big-list">
            <li class="t-scnav-rings"><a href="#">Diamond Rings</a></li>
            <li class="t-scnav-earrings"><a href="#">Diamond Earrings</a></li>
            <li class="t-scnav-necklaces"><a href="#">Diamond Necklaces</a></li>
            <li class="t-scnav-bracelets"><a href="#">Diamond Bracelets</a></li>
        </ul>
        <div class="u-clear"></div>
        <h6>SERVICE & BENEFITS</h6>
        <!-- <ul class="t-second-nav-list t-second-nav-colors">
            <li class="o-col-lg-6 o-row t-scnav-yellow"><a href="/loose-diamonds/fancycolor-yellow">Yellow</a></li>
            <li class="o-col-lg-6 o-row t-scnav-blue"><a href="/loose-diamonds/fancycolor-blue">Blue</a></li>
            <li class="o-col-lg-6 o-row t-scnav-purple"><a href="/loose-diamonds/fancycolor-pink">Purple</a></li>
            <li class="o-col-lg-6 o-row t-scnav-red"><a href="/loose-diamonds/fancycolor-red">Red</a></li>
            <li class="o-col-lg-6 o-row t-scnav-violet"><a href="/loose-diamonds/fancycolor-purple">Violet</a></li>
            <li class="o-col-lg-6 o-row t-scnav-green"><a href="/loose-diamonds/fancycolor-green">Green</a></li>
            <li class="o-col-lg-6 o-row t-scnav-orange"><a href="/loose-diamonds/fancycolor-orange">Orange</a></li>
            <li class="o-col-lg-6 o-row t-scnav-brown"><a href="/loose-diamonds/fancycolor-brown">Brown</a></li>
            <li class="o-col-lg-6 o-row t-scnav-black"><a href="/loose-diamonds/fancycolor-black">Black</a></li>
            <li class="o-col-lg-6 o-row t-scnav-gray"><a href="/loose-diamonds/fancycolor-gray">Gray</a></li>
            <li class="o-col-lg-6 o-row t-scnav-white"><a href="/loose-diamonds/fancycolor-gray">White</a></li>
        </ul> -->
        <ul class="t-second-nav-list">
            <li><a href="#">Financing Options</a></li>
            <li><a href="#">Diamond Upgrade Program</a></li>
            <li><a href="#">Diamond Price Match</a></li>
            <li><a href="#">Military Discounts</a></li>
        </ul>
        <h6>LEARN</h6>
        <ul class="t-second-nav-list">
            <li><a href="#">Know Your 4C's</a></li>
            <li><a href="#">Ethically Sourced & Conflict Free</a></li>
        </ul>
        <div class="u-clear"></div>
    </div>
</li>