<li {% if isEngagementRingsSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="javascript: void(0);" onClick="toggleMobNav('nav_engagement_rings')">ENGAGEMENT RINGS</a>
    <div id="nav_engagement_rings" class="c-mob-nav-second-level">
        <h6>Engagement ring style</h6>
        <ul class="t-second-nav-list t-second-nav-eng-rings">
            <li><a href="/engagement-rings/search?ringstyle=Solitaire">Solitaire</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Side%20stone">Side Stones</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Halo">Halo</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Channel">Channel Set</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Vintage">Vintage</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Pave">Pave</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Three%20stone">Three-Stone</a></li>
            <li><a href="/engagement-rings/search?ringstyle=Bridal%20Sets">Bridal Sets</a></li>
        </ul>
        <h6>design your own engagement ring</h6>
        <div class="u-clear"></div>
        <ul class="t-second-nav-list t-second-nav-build">
            <li class="t-scnav-start-diamond"><a href="/loose-diamonds">Start with a Diamond</a></li>
            <li class="t-scnav-start-setting"><a href="/engagement-rings/search?builder=1">Start with a Setting</a></li>
            <li class="t-scnav-start-gemstone"><a href="/gemstones">Start with a GemStone</a></li>
        </ul>
        <h6>Shop by metal</h6>
        <div class="u-clear"></div>
        <ul class="t-second-nav-list">
            <li><a href="/engagement-rings/search?metal=White%20Gold%2014%2CWhite%20Gold%2018">White Gold</a></li>
            <li><a href="/engagement-rings/search?metal=Yellow%20Gold%2014%2CYellow%20Gold%2018">Yellow Gold</a></li>
            <li><a href="/engagement-rings/search?metal=Rose%20Gold">Rose Gold</a></li>
            <li><a href="/engagement-rings/search?metal=Platinum">Platinum</a></li>
        </ul>
        <div class="u-clear"></div>
    </div>
</li>