<li {% if isGemstonesSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="javascript: void(0);" onClick="toggleMobNav('nav_gemstone')">Gemstone</a>
    <div id="nav_gemstone" class="c-mob-nav-second-level">
        <h6>Design your own:</h6>
        <ul class="t-second-nav-list t-second-nav-build">
            <li class="t-scnav-g-rings"><a href="#">GemStone Ring</a></li>
            <li class="t-scnav-g-pendants"><a href="#">GemStone Pendant</a></li>
            <li class="t-scnav-g-earrings"><a href="#">GemStone Earring</a></li>
        </ul>
        <div class="u-clear"></div>
        <h6>Sapphires</h6>
        <ul class="t-second-nav-list t-second-nav-colors">
            <li class="t-scnav-blue"><a href="#">Blue</a></li>
            <li class="t-scnav-yellow"><a href="#">Yellow</a></li>
            <li class="t-scnav-pink"><a href="#">Pink</a></li>
        </ul>
        <h6>Birthstone jewelry</h6>
        <div class="u-clear"></div>
        <ul class="t-second-nav-list">
            <li><a href="#">JAN  | Garnet </a></li>
            <li><a href="#">FEB  | Amethyst</a></li>
            <li><a href="#">MAR | Aquamarine</a></li>
            <li><a href="#">APR  | Diamond</a></li>
            <li><a href="#">MAY  | Emerald</a></li>
            <li><a href="#">JUN  | Pearl </a></li>
            <li><a href="#">JUL  |  Ruby</a></li>
            <li><a href="#">AUG  | Peridot</a></li>
            <li><a href="#">SEP  | Sapphire</a></li>
            <li><a href="#">OCT | Opal</a></li>
            <li><a href="#">NOV | Citrine</a></li>
            <li><a href="#">DEC | Topaz</a></li>
        </ul>
        <h6>Ready to ship</h6>
        <ul class="t-second-nav-list t-second-nav-build">
            <li class="t-scnav-g-earrings"><a href="#">GemStone Earrings</a></li>
            <li class="t-scnav-g-pendants"><a href="#">GemStone Pendants</a></li>
            <li class="t-scnav-g-rings"><a href="#">GemStone Rings</a></li>
            <li class="t-scnav-g-bracelets"><a href="#">GemStone Rings</a></li>
        </ul>
    </div>
</li>