<li {% if isWeddingRingsSection %}class="active"{% endif %}>
    <a class="c-nav-link" href="javascript: void(0);" onClick="toggleMobNav('nav_wedding')">WEDDING</a>
    <div id="nav_wedding" class="c-mob-nav-second-level">
        <h6>Women:</h6>
        <div class="u-clear"></div>
        <ul class="t-second-nav-list t-second-nav-build">
            <li class="t-scnav-start-wedding-classic"><a href="#">Classic</a></li>
            <li class="t-scnav-start-wedding-eternity"><a href="#">Eternity</a></li>
            <li class="t-scnav-start-wedding-diamond"><a href="#">Diamond</a></li>
            <li class="t-scnav-start-wedding-five-stone"><a href="#">Five Stone</a></li>
            <li class="t-scnav-start-wedding-matching-sets"><a href="#">Matching Sets</a></li>
        </ul>
        <h6>Men:</h6>
        <div class="u-clear"></div>
        <ul class="t-second-nav-list t-second-nav-build">
            <li class="t-scnav-start-wedding-classic"><a href="#">Classic</a></li>
            <li class="t-scnav-start-wedding-alternative-metal"><a href="#">Alternative Metal</a></li>
            <li class="t-scnav-start-wedding-carved"><a href="#">Carved</a></li>
            <li class="t-scnav-start-wedding-diamond-men"><a href="#">Diamond</a></li>
        </ul>
        <div class="u-clear"></div>
        <h6>shop by band width</h6>
        <ul class="t-band-width">
            <li><a href="#">2mm</a></li>
            <li><a href="#">3mm</a></li>
            <li><a href="#">4mm</a></li>
            <li><a href="#">5mm</a></li>
            <li><a href="#">6mm</a></li>
            <li><a href="#">7mm</a></li>
            <li><a href="#">8MM</a></li>
        </ul>
        <h6>Choose your favorite metal:</h6>
        <ul class="t-second-nav-list">
            <li><a href="#">White Gold</a></li>
            <li><a href="#">Yellow Gold</a></li>
            <li><a href="#">Rose Gold</a></li>
            <li><a href="#">Platinum</a></li>
        </ul>
    </div>
</li>