{% extends "layouts/frontend.twig" %}

{%- block head_title -%}
    DreamStone
{%- endblock -%}

{%- block meta_description -%}
   DreamStone.com, DreamStone, About DreamStone.com, About DreamStone, Learn about dreamstone, has anyone heard of dreamstone, dream stone,DreamStone
{%- endblock -%}

{%- block meta_keywords -%}
    DreamStone.com, DreamStone, About DreamStone.com, About DreamStone, Learn about dreamstone, has anyone heard of dreamstone, dream stone,DreamStone
{%- endblock -%}

{% block content %}
    <div class="content">
        <div class="u-clear-20"></div>
        <div class="holder-staticpage">
            {% set url =  filter | join('/') %}
            {% for staticpage in staticpages %}
                {% if staticpage.url == url %}
                    <h4>{{staticpage.title}}</h4>
                    <div>{{staticpage.content | raw }}</div>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
 </div>
{% endblock %}