<!-- double bunner -->
<li class="t-search-result-block-duble t-search-result-block s-sm-invisible" >
    <a href="#" class="t-banner">
        <img src="../images/banner_2.jpg"  alt="banner">
        <div class="t-banner-info-block">
            <span class="t-banner-name">Double Prong solitaire</span>
            <p class="t-banner-price">Price: <span>$1.450</span></p>
        </div>
    </a>
</li>
<!-- /double bunner -->