<div class="o-col-tenth-lg-5 u-tl t-copyright s-md-invisible">
    <span class="u-f14">&copy; 2016-{{ "now"|date("Y") }} DreamStone</span>
</div>
<div class="o-col-tenth-lg-5 u-tr t-copyright s-md-invisible">
    <span class="u-f14">Copyright all right reserved</span>
</div>