<div class="o-col-tenth-lg-10 t-featured-table s-xxsm-invisible">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'featured');">FEATURED IN </h6>
    <table id="featured">
        <tr>
            <td><a href="#"><img src="/images/featured/PalmBeachDalyNews.jpg" title="" alt="PalmBeachDalyNews"></a></td>
            <td><a href="#"><img src="/images/featured/Forbes.png" title="" alt="Forbes"></a></td>
            <td><a href="#"><img src="/images/featured/jevelersnyc.png" title="" alt="jevelersnyc"></a></td>
            <td><a href="#"><img src="/images/featured/weddingWIRE.png" title="" alt="weddingWIRE"></a></td>
            <td><a href="#"><img src="/images/featured/CNNMoney.png" title="" alt="CNNMoney"></a></td>
        </tr>
    </table>
    <div class="u-clear-20  s-md-invisible"></div>
</div>