<div class="o-col-tenth-lg-5 o-col-tenth-md-10 u-fl">
    <h6 class="s-md-invisible">Follow us</h6>
    <ul class="t-icons-list t-fallow-us">
        <li><a class="c-soc-icon c-soc-icon-fb" href="#" target="_blank"></a></li>
        <li><a class="c-soc-icon c-soc-icon-tw" href="#" target="_blank"></a></li>
        <li><a class="c-soc-icon c-soc-icon-gmail" href="#" target="_blank"></a></li>
        <li><a class="c-soc-icon c-soc-icon-pint" href="#" target="_blank"></a></li>
        <li><a class="c-soc-icon c-soc-icon-inst" href="#" target="_blank"></a></li>
    </ul>
</div>