<div class="o-col-tenth-lg-2 o-col-tenth-sm-10">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'footNav1');">CONTENT PAGES</h6>
    <ul id="footNav1" class="t-foot-nav">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Education pages including </a></li>
        <li><a href="#">Financing</a></li>
        <li><a href="#">Risk-free shopping</a></li>
        <li><a href="#">30 Day Returns</a></li>
        <li><a href="#">Free Shipping</a></li>
        <li><a href="#">Lifetime Warranty</a></li>
        <li><a href="#">Lifetime Upgrade</a></li>
        <li><a href="#">Layaway Plan</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>
<div class="o-col-tenth-lg-2 o-col-tenth-sm-10">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'footNav2');">CONTENT PAGES</h6>
    <ul id="footNav2" class="t-foot-nav">
        <li><a href="#">Legal Notices</a></li>
        <li><a href="#">Conflict Free</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Jewelry Building Process</a></li>
        <li><a href="#">What happens after you place </a></li>
        <li><a href="#">Engagement Guide</a></li>
        <li><a href="#">Jewelry Care Guide</a></li>
        <li><a href="#">International Orders</a></li>
        <li><a href="#">Canadian Orders</a></li>
    </ul>
</div>
<div class="o-col-tenth-lg-2 o-col-tenth-sm-10">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'footNav3');">CONTENT PAGES</h6>
    <ul id="footNav3" class="t-foot-nav">
        <li><a href="#">UK Orders</a></li>
        <li><a href="#">Australian Orders</a></li>
        <li><a href="#">China Orders</a></li>
        <li><a href="#">All 50 US States</a></li>
        <li><a href="#">Appraisal</a></li>
        <li><a href="#">Diamond Upgrade Program</a></li>
        <li><a href="#">Diamond Price Match Program</a></li>
        <li><a href="#">Diamond Buying Tips</a></li>
        <li><a href="#">Ring Sizer</a></li>
        <li><a href="#">Already Own A Diamond</a></li>
    </ul>
</div>
<div class="o-col-tenth-lg-2 o-col-tenth-sm-10">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'footNav4');">CONTENT PAGES</h6>
    <ul id="footNav4" class="t-foot-nav">
        <li><a href="#">Fancy Colored Diamonds</a></li>
        <li><a href="#">Jewelry Insurance</a></li>
        <li><a href="#">Guide to Wedding Bands</a></li>
        <li><a href="#">Metal Education</a></li>
        <li><a href="#">GemStone Education</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Inscribed Diamonds</a></li>
        <li><a href="#">DreamStone Advantage</a></li>
        <li><a href="#">Choosing the right jeweler</a></li>
    </ul>
</div>
<div class="o-col-tenth-lg-2 o-col-tenth-sm-10">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'footNav5');">Contact Forms</h6>
    <ul id="footNav5" class="t-foot-nav">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Contact Us 2</a></li>
        <li><a href="#">Financing Application</a></li>
        <li><a href="#">Payment Form</a></li>
        <li><a href="#">Request Ring Sizer</a></li>
    </ul>
</div>
<div class="u-clear-20 s-md-invisible"></div>
