<div class="o-col-tenth-lg-5 o-col-tenth-md-10 u-fr t-payment-block">
    <h6 class="t-footer-title" onclick="toggleBlock(this, 'payment');">Payment</h6>
    <ul id="payment" class="t-icons-list t-payment">
        <li><a class="c-payment-icon c-payment-icon-visa" href="#"></a></li>
        <li><a class="c-payment-icon c-payment-icon-mc" href="#"></a></li>
        <li><a class="c-payment-icon c-payment-icon-am_exp" href="#"></a></li>
        <li><a class="c-payment-icon c-payment-icon-paypal" href="#"></a></li>
        <li><a class="c-payment-icon c-payment-icon-discover" href="#"></a></li>
        <!-- <li><a class="c-payment-icon" href="#"></a></li> -->
    </ul>
</div>