<div class="content">
    <div class="o-col-lg-8 o-col-sm-12 u-tc t-diamond-bunner t-diamond-bunner-1">
        <p class="t-bg">Earring</p>
    </div>
    <div class="o-col-lg-4 o-col-sm-12 u-tc t-diamond-bunner t-diamond-bunner-2">
        <p class="t-md">Create your own</p>
        <p class="t-sm">Diamond Engagement Ring</p>
    </div>
</div>