<div class="o-col-lg-12 o-col-sm-12">
    <div class="o-col-lg-4 o-col-sm-12 u-tc t-diamond-bunner t-diamond-bunner-3">
        <p class="t-sm">Solitaire Diamond</p>
        <p class="t-md">Pendants</p>
    </div>
    <div class="o-col-lg-8 o-col-sm-12 u-tc t-diamond-bunner t-diamond-bunner-4">
        <p class="t-bg">Signature</p>
        <p class="t-md">Diamonds</p>
    </div>
</div>