<div class="t-engagement-rings-banner">
    <div class="o-col-lg-6 o-col-md-12"></div>
    <div class="o-col-lg-4 o-col-md-12 u-tc t-engagement-rings-banner-data">
        <h5 class="t-banner-header-engagement-ring">Engagement Rings</h5>
        <div class="t-banner-engagement-ring-design">
            <a href="/engagement-rings/search" class="t-banner-engagement-ring-design-ring"></a>
            <a href="/loose-diamonds/search" class="t-banner-engagement-ring-design-diamond"></a>
            <a href="/engagement-rings/search?builder=1" class="t-banner-engagement-ring-design-ring_diamond"></a>
        </div>
        <div class="u-clear-10"></div>
        <div>
            <div class="o-col-lg-6 o-col-md-12 o-row">
                <a href="/engagement-rings/search" class="t-banner-button t-banner-button-opacity">Shop engagement rings</a>
            </div>
            <div class="o-col-lg-6 o-col-md-12 o-row">
                <a href="/loose-diamonds" class="t-banner-button t-banner-button-opacity u-fr">loose diamonds</a>
            </div>
        </div>
    </div>
    <div class="u-clear"></div>
</div>